<h2>About</h2>

<hr />

<div class="row">
    <div class="col-12">
        <div class="media mb-2">
            <img class="mr-3" src="~/img/logo.png" width="64" height="64" />
            <div class="media-body">
                <h5 class="mt-0">Linkup</h5>
                <p>Developed by Saudia Hackathon Team</p>
            </div>
        </div>
        <p style="color:black">Linkup makes it easier for you to recruit a team or join a team to develop projects and get more done.</p>
        <p style="color:black">Linkup was developed as Saudia's participation of Microsoft Teams hackathon.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Abdullah Hashim</h5>
                <p class="card-text">11010759</p>
                <p class="card-text">hasabdullah@saudia.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bayan Saddik</h5>
                <p class="card-text">11016772</p>
                <p class="card-text">bsaddik@saudia.com</p>                
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mohammed Bahusayn</h5>
                <p class="card-text">11015783</p>
                <p class="card-text">mbahusayn@saudia.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sara Radwan</h5>
                <p class="card-text">11006935</p>
                <p class="card-text">sradwan@saudia.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sultan Azkhan</h5>
                <p class="card-text">11006767</p>
                <p class="card-text">sultanz@saudia.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mohammed Aljafari</h5>
                <p class="card-text">11023596</p>
                <p class="card-text">maljafari@saudia.com</p>
            </div>
        </div>
    </div>
</div>

