@model Linkup.ViewModels.Profile.ProfileInterestsViewModel

<h2>Interests</h2>

<hr />

<div class="row my-5">
    <div class="col-md-12">
        <form method="post" asp-action="AddInterest" class="form-inline">
            <div class="form-group mr-4">
                <select class="form-control" asp-for="SelectedInterest" asp-items="Model.Interests"></select>
                <span asp-validation-for="SelectedInterest" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Add Interest</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead class="thead-light">
                <tr>
                    <th colspan="2">
                        My Interests
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CurrentInterests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Interest)
                        </td>
                        <td>
                            <form method="post" asp-action="DeleteInterest" class="ml-5">
                                <input type="hidden" asp-for="SelectedInterest" value="@item.Id" />
                                <button type="submit" class="btn btn-danger btn-sm float-right">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
