@model Linkup.ViewModels.Project.ProjectListViewModel

<div class="row">
    @foreach (var item in Model.Projects)
    {
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@item.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created By @item.CreatedBy</h6>                                        
                </div>
                <div class="card-body">
                    <p class="card-text">@item.Description</p>
                    <a href="#" class="btn btn-success">More</a>
                </div>
            </div>
        </div>
    }
</div>
